# Ignore JSON files with credentials
backend/backend/*.json

# Ignore Python files with API keys
alphageometry/trans_text.py
backend/api/gpt.py
backend/api/views.py

/InterGPS/myenv
/InterGPS/.gitignore
/InterGPS/data/geometry3k/train
/InterGPS/data/geometry3k/val
/InterGPS/data/geometry3k/test
/InterGPS/data/geometry3k/logic_forms
/InterGPS/data/geometry3k/symbols

/InterGPS/diagram_parser/detection_results/ocr_results/*
/InterGPS/diagram_parser/detection_results/box_results/*

/InterGPS/xyz

/InterGPS/README.md